# data
data_directory/

# Byte-compiled / optimized / DDL files
__pycache__/
*.py[cod]
*$py.class

# python package files
.eggs/
*.egg-info

# testing
.pytest_cache/

# venv
env/

## IDE
# vim swap files
*.swp
# emacs temporary files
*~
# vscode
.vscode
